h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

.page {
  max-width: 880px;
  width: 100%;
  font-family: "Inter-Medium";
  margin: auto;
  z-index: 1;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .page {
    max-width: 768px;
    justify-content: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    max-width: 320px;
    justify-content: center;
  }
}